schema: schema.widl
generates:
  src/generated.rs:
    # This needs a template until https://github.com/wapc/cli/issues/9
    # is resolved
    module: "$PWD/../../../wapc-guest-codegen/dist"
    visitorClass: ModuleVisitor
  src/lib.rs:
    ifNotExists: true
    module: "$PWD/../../../wapc-guest-codegen/dist"
    visitorClass: ScaffoldVisitor
    config:
      use: generated
