name: CI

on:
  push:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "*.wasm"
  pull_request:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "*.wasm"
  workflow_call:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: lint
        run: make check

  workspace-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: test
        run: make test

  wasmtime-provider:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: test
        run: |
          cd crates/wasmtime-provider
          make test
