name: CI

on:
  push:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "*.wasm"
  pull_request:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "*.wasm"
  workflow_call:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: lint
        run: make check

  workspace-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: test
        run: make test

  wasmtime-provider:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: test
        run: |
          cd crates/wasmtime-provider
          make test
